.right-schedules
  本日のスケジュール(簡易)
  - @schedule_list.each do |sche|
    = link_to edit_task_path(sche.id) do
      - if sche.done == true
        .right-schedule-done
          = render "/layouts/newright_sche", sche: sche
      - else
        .right-schedule
          = render "/layouts/newright_sche", sche: sche